.sidebar-menu {
        position: sticky;
        top: 0;
        min-width: 3.2rem;
        width: 3.2rem;
        height: 100vh;
        box-sizing: border-box;
        padding: 0.75rem 0.5rem;
        background-color: #ffffff;
        box-shadow: 0.2rem 0 0.75rem rgba(0, 0, 0, 0.1);
        transition: width 0.3s ease, min-width 0.3s ease;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .sidebar-menu.shown {
        min-width: 15rem;
        width: 15rem;
    }

        .sidebar-menu .sidebar-menu-button-container {
            /* border: black 1px solid; */
            display: flex;
            justify-content: end;
        }
            .sidebar-menu .sidebar-menu-button {
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem;
                background-color: transparent;
                border-radius: .75rem;
            }
            .sidebar-menu .sidebar-menu-button:hover {
                background-color: #f4f4f4;
                cursor: pointer;
            }

        .sidebar-menu .sidebar-menu-content {
            /* border: 1px solid rgb(255, 0, 0);
            background-color: aqua; */
            height: 100%;
            display: flex;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;

            transition:
                opacity 0.15s ease,
                visibility 0s linear 0.1s;

            gap: 1.5rem;
        }

        .sidebar-menu.shown .sidebar-menu-content {
            /* border: 1px solid black; */
            display: flex;
            flex-direction: column;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;

            transition:
                opacity 0.2s ease 0.1s,
                visibility 0s linear;
        }

            .sidebar-menu-content p {
                box-sizing: border-box;
                /* border: 1px solid black; */
                padding: 0 1rem;
                white-space: nowrap;
            }

            .sidebar-menu-content .menu-buttons {
                /* border: 1px solid black; */
                flex: 1;
                height: 100%;
                display: flex;
                flex-direction: column;
            }

                .sidebar-menu-content .menu-buttons .menu-button {
                    box-sizing: border-box;
                    padding: 0.6rem 1rem;
                    cursor: pointer;
                    display: flex;
                    justify-content: left;
                    background-color: transparent;
                    border: none;
                    border-radius: .4rem;
                    font-family: inherit;
                    font-size: inherit;
                }

                .sidebar-menu .menu-buttons .menu-button:hover {
                    background-color: #f4f4f4;
                }

                .sidebar-menu .menu-buttons .menu-button:active {
                    background-color: #eaeaea;
                }